# .github/workflows/frontend.yml

name: Build & Push Frontend

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "dev"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install & Build
        working-directory: ./frontend
        run: |
          npm ci
          npm run build

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Delete Existing DockerHub Image (Optional)
        run: |
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/burger-frontend:${{ github.sha }}
          echo "Deleting image if exists: $IMAGE_NAME"
          curl -X DELETE \
            -u "${{ secrets.DOCKERHUB_USERNAME }}:${{ secrets.DOCKERHUB_TOKEN }}" \
            "https://hub.docker.com/v2/repositories/${{ secrets.DOCKERHUB_USERNAME }}/burger-frontend/tags/${{ github.sha }}/"

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/burger-frontend:latest
          build-args: |
            VITE_API_BASE_URL=http://${{ steps.get_ip.outputs.gateway_ip }}
